.action-column button:nth-child(1){
    margin-right: 12px;
}
.add-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 20px;
    
}
.spinner-border{
    margin-left: 50%;
    margin-top: 250px;
}
.user-table-wrapper {
    display: flex;
    padding: 0px 72px 0px 72px;
    flex-direction: column;
}